aiohttp
faiss-cpu
fastapi
huggingface_hub
langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-tavily
pydantic
psycopg2-binary
psycopg[binary,pool]
